.wrapper {
    display: flex;
}
.main-page {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lf {
    font-size: 25px;
}
.align-center {
    text-align: center;
    align-self: center;
}
.free-rewards {
    width: 100%;
}
.d-flex {
 display: flex;
 align-items: center;   
}
.small-text {
    font-size: 10px;
}